.header__brand {
  margin-right: auto;
  width: auto;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 1;
}

.header__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 4vw;
  align-items: center;
}

.header__navigation {
  margin-left: auto;
  width: auto;
  column-gap: 18px;
  font-weight: 300;
}

.header__navigation-item {
  line-height: 1;
}

.header__navigation-link {
  color: var(--theme-colour--black);
  display: inline-flex;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 10px;
  font-weight: 300;
  line-height: inherit;
}

@media screen and (min-width: 768px) {
  
  .header__brand {
    font-size: 18px;
  }

  .header__navigation {
    column-gap: 28px;
  }
  
  .header__navigation-link {
    font-size: 12px;
  }
    
}

@media screen and (min-width: 992px) {
  
  .header__brand {
    font-size: 20px;
  }

  .header__navigation {
    column-gap: 36px;
  }
  
  .header__navigation-link {
    font-size: 16px;
  }
  
}

@media screen and (min-width: 1200px) {
  
  .header__brand {
    font-size: 24px;
  }
  
  .header__navigation {
    column-gap: 42px;
  }
  
  .header__navigation-link {
    font-size: 18px;
  }
  
}