* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth
}

figure,
picture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

figure img,
picture img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

p, li {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}