:root {
  
  --theme-colour--black: #000000;
  --theme-colour--off-black: #28282a;
  --theme-colour--off-white: #f5f5f5;
  --theme-colour--white: #ffffff;
  
  --theme-font-family--noto-sans: 'Noto Sans', sans-serif;
  
  --theme-gsap-travel: 10px;
  
}