@import "../../../scss/mixins/breakpoint";

.business {
  
  display: flex;
  flex-flow: row wrap;
  row-gap: 18px;
  
  a {
    display: inline-block;
    width: auto;
    height: auto;
  }
  
  &__details,
  &__image {
    width: 100%;
  }
  
  &__address {
    flex: 1;
    font-weight: 400;
    &-city,
    &-street {
      display: block;
    }
    a {
      transition-property: color;
      transition-duration: 250ms;
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #C5A577;
      }
    }
  }
  
  &__image {
    height: auto;
    display: block;
    aspect-ratio: 850/595;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  } 
  
  &__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 15px;
  }
  
  &__meta {
    display: flex;
    width: 35%;
    flex-flow: column;
    align-items: flex-end;
    &-category,
    &-rating
    &-reviews {
      display: block;
    }
    &-category,
    &-rating {
      font-weight: 700;
    }
    &-category {
      text-transform: uppercase;
      color: #C5A577;
    }
    &-rating {
      color: #4F4636;
    }
  }
  
  &__name {
    font-weight: 700;
    font-size: 133.33%;
    margin-bottom: 6px;
  }
  
  @include breakpoint(sm) {
    
    &__details {
      font-size: 12px;
    }
    
  }
  
  @include breakpoint(md) {
    
    &__details {
      font-size: 13px;
    }
    
  }
  
  @include breakpoint(lg) {}
  
  @include breakpoint(xl) {
    
    &__details {
      font-size: 13px;
    }
    
  }
  
  @include breakpoint(xxl) {
    
    &__details {
      font-size: 16px;
    }
    
  }
  
  
}