html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--theme-colour--white);
  color: var(--theme-colour--dark-blue);
  font-family: var(--theme-font-family--roboto);
  font-size: 16px;
  line-height: 1.45;
  font-weight: 300;
}