:root {
  
  --colour--ash-gray: hsl(97,13%,80%);
  --colour--black: hsl(0, 0%, 7%);
  --colour--cambridge-blue: hsl(133,18%,59%);
  --colour--charcoal: hsl(201,20%,23%);
  --colour--dark-slate-gray: hsl(186,21%,26%);
  --colour--hookers-green: hsl(165,19%,40%);
  --colour--off-white: hsl(0, 0%, 98%);
  --colour--white: hsl(0, 0%, 100%);
  
  --font-family--serif: 'Playfair Display', serif;
  --font-family--sans-serif: 'Work Sans', sans-serif;
  
  --grid-gutter: 16px;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
html, body {
  background: var(--colour--off-white);
  color: var(--colour--black);
  font-family: var(--font-family--sans-serif);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.35;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 32px;
}

/* Button */
.button {
  color: var(--colour--white);
  transition: 
    background 300ms,
    border 300ms,
    opacity 300ms;
  appearance: none;
  background: red;
  border: 2px solid;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
}

.button--primary {
  background: var(--colour--charcoal);
  border-color: var(--colour--charcoal);
}

.button--secondary {
  background: var(--colour--hookers-green);
  border-color: var(--colour--hookers-green);
}

.button--tertiary {
  color: var(--colour--charcoal);
  border-collapse: var(--colour--charcoal);
  background: transparent;
}

/* Colour */
.colour {
  display: flex;
  flex-flow: column;
  height: 400px;
  position: relative; 
}

.colour--ash-grey {
  background: var(--colour--ash-gray);
}

.colour--cambridge-blue {
  background: var(--colour--cambridge-blue);
}

.colour--hookers-green {
  background: var(--colour--hookers-green);
}

.colour--dark-slate-gray {
  background: var(--colour--dark-slate-gray);
}

.colour--charcoal {
  background: var(--colour--charcoal);
}

.colour__code {
  color: var(--colour--white);
  display: block;
  margin-top: auto;
  margin-left: auto;
  font-size: 80%;
  letter-spacing: 0.06em;
}

.colour__item {
  width: 100%;
  height: auto;
  flex: 1;
  display: inline-flex;
  position: relative;
  padding: 10px;
  flex-flow: column;
}

.colour__item::after {
  background: var(--colour--white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.colour__item:nth-child(1)::after {
  opacity: 0;
}

.colour__item:nth-child(2)::after {
  opacity: 25%;
}

.colour__item:nth-child(3)::after {
  opacity: 50%;
}

.colour__item:nth-child(4)::after {
  opacity: 75%;
}

.colour__name {
  color: var(--colour--white);
  font-weight: 500;
  font-size: 12px;
}

/* Grid */
.grid {
  gap: var(--grid-gutter);
  display: grid;
  width: 100%;
}

.grid--1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}

/* Footer */
footer {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  margin-top: 60px;
}

footer ul {
  display: flex;
  width: 100%;
  height: auto;
  gap: 12px;
  justify-content: center;
  align-items: baseline;
}

footer li {
  list-style: none;
}

footer p {
  margin-top: 12px;
}

/* Main */
main {
  display: flex;
  width: 100%;
  flex-flow: column;
  gap: 60px;
}

/* Section */
section {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border: 1px solid hsl(0, 0%, 97%);
  border-radius: 10px;
  padding: 24px;
}

/* Typography */

h1, h2, h3 {
  font-family: var(--font-family--serif);
}

h2 {
  margin: 0 0 20px 0;
}

.body-copy {
  font-family: var(--font-family--sans-serif);
}

.body-copy--500 {
  font-weight: 500;
}

.body-copy--700 {
  font-weight: 700;
}

.body-copy--900 {
  font-weight: 900;
}

.heading {
  font-family: var(--font-family--serif);
}

.heading--1 {
  font-size: 4.209rem;
}

.heading--2 {
  font-size: 3.157rem;
}

.heading--3 {
  font-size: 2.369rem;
}

.heading--4 {
  font-size: 1.777rem;
}

/* Type Scale */

.type-scale {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: left;
  padding: 20px;
}

.type-scale:first-child {
  padding-top: 0;
}

.type-scale:last-child {
  padding-bottom: 0;
}

.type-scale + .type-scale {
  border-top: 1px solid hsl(0, 0%, 95%);
}

.type-scale__family {
  width: 25%;
  text-align: right;
  letter-spacing: 0.01em;
}

.type-scale__ratio {
  width: 25%;
  text-align: center;
  letter-spacing: 0.01em;
}

.type-scale__sample {
  flex: 1;
}

