/** Body Copy ---------------------------------------- **/

.body-copy--primary {
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 1.45;
  font-weight: 400;
}

/** Font Family ---------------------------------------- **/

.font-family--sans-serif {
  font-family: 'Quattrocento Sans', sans-serif;
}

.font-family--serif {
  font-family: 'Quattrocento', serif;
}

.font-family--script {
  font-family: cursive;
}

/** Font Weight ---------------------------------------- **/

.font-weight--100 {
  font-weight: 100;
}

.font-weight--200 {
  font-weight: 200;
}

.font-weight--300 {
  font-weight: 300;
}

.font-weight--400 {
  font-weight: 400;
}

.font-weight--500 {
  font-weight: 500;
}

.font-weight--600 {
  font-weight: 600;
}

.font-weight--700 {
  font-weight: 700;
}

.font-weight--800 {
  font-weight: 800;
}

.font-weight--900 {
  font-weight: 900;
}

/** Heading ---------------------------------------- **/

.heading--primary {
  font-family: 'Quattrocento', serif;
  line-height: 1;
  font-weight: 700;
}
