:root {

  --theme-colour--red: #862041;
  --theme-colour--black: #231f20;
  --theme-colour--beige: #f8f2e7;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure,
picture {
  display: block;
  height: auto;
}

html {
  scroll-behavior: smooth
}

/** Body ---------------------------------------- **/

body {
  color: var(--theme-colour--black);
  background-color: var(--theme-colour--beige);
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-flow: column;
  height: 100%;
  font-weight: 300;
  font-size: 12px;
}

@media screen and (min-width: 768px) {

  body {
    font-size: 14px;
  }

}

@media screen and (min-width: 1200px) {

  body {
    font-size: 16px;
  }

}

header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

main {
  flex-grow: 1;
}

footer {

}

/** AOS ---------------------------------------- **/

[data-aos="fade-up"] {
  transform: translate3d( 0, 8px, 0 );
}

[data-aos="fade-right"] {
  transform: translate3d( -8px, 0, 0 );
}

[data-aos="fade-down"] {
  transform: translate3d( 0, -8px, 0 );
}

[data-aos="fade-left"] {
  transform: translate3d( 8px, 0, 0 );
}

/** Block ---------------------------------------- **/

.block {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
}

/** About Us ---------------------------------------- **/

.about-us__content {
  grid-column: 2 / 6;
  margin-top: 10vw;
}

@media screen and (min-width: 768px) {

  .about-us__content {
    grid-column: 3 / 11;
    column-count: 2;
    column-gap: 20px;
    margin-top: 5vw;
  }

}

@media screen and (min-width: 1200px) {

  .about-us__content {
    grid-column: 4 / 10;
    column-gap: 24px;
    margin-top: 6vw;
  }

}

/** Full Viewport Height  ---------------------------------------- **/

.full-viewport-height {
  height: var(--theme-viewport-height--total);
}

/** Grid Container ---------------------------------------- **/

.grid-container,
.grid-container-fluid {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  height: auto;
  min-height: 100%;
}

.grid-container,
.grid-container-fluid {
  padding: 0 26px;
}

@media screen and (min-width: 768px) {

  .grid-container,
  .grid-container-fluid {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-container {
    max-width: calc( 768px - (2 * 26px) );
    padding: 0;
  }

}

@media screen and (min-width: 1200px) {

  .grid-container,
  .grid-container-fluid {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-container {
    max-width: calc( 1200px - (2 * 26px) );
  }

}

/** Welcome ---------------------------------------- **/

.welcome__content {
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

/* Feature Image */
.feature-image {}

.feature-image__image {
  grid-column: 1 / -1;
}

.feature-image__image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Hero */
.hero {
  height: var(--theme-viewport-height--total);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero__brand {
  color: var(--theme-colour--red);
  height: 124px;
  width: 100%;
  display: block;
}

.hero__brand a,
.hero__brand svg {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.hero__brand svg {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  /* Grid */
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }

}
