@use "sass:map";
@use './functions/container-max-width' as *;

$theme-colours: (
  'black': '#000000',
  'dark-blue': '#0b161d',
  'off-white': '#f8f8f8',
  'white': '#ffffff'
);
$theme-font-families: (
  'sans-serif': sans-serif,
  'serif': serif,
  'cursive': cursive,
  'mono': monospace,
  'roboto': '"Roboto", sans-serif',
);
$theme-grid-container-padding: 22px;
$theme-grid-container-breakpoints: (
  'base': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);
$theme-grid-container-gutter: (
  'base': 18px,
  'lg': 22px
);
$theme-grid-container-max-widths: container-max-width( $theme-grid-container-breakpoints, $theme-grid-container-padding);
