@use 'sass:color';
@use "../mixins/ui" as *;

.button {
  
  @extend %ui-base;
  @extend %ui-transition;
  
  background: #BA782A;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  
  &:hover {
    background: color.scale(#BA782A, $lightness: -30%);
    color: #fff;
  }
  
}