@import "../../../scss/mixins/breakpoint";

.playlist {
  
  grid-column: 1 / -1;
  
  &__tracks {
    row-gap: var(--theme-grid-gutter);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  @include breakpoint(lg) {
    
    grid-column: 8 / -1;
    
    &__tracks {
      row-gap: var(--theme-grid-gutter--lg);
    }
    
  }
  
}