/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grouped Styles */
header, 
main,
footer {
  width: 100%;
  max-width: 700px;
  margin: 55px auto 0;
}

header,
footer {
  text-align: center;
}

table, tr, td {
  outline: none;
}

tr {
  border-bottom: 4px solid hsl(210, 10%, 18%);
}

h1, h2 {
  color: #EFE9F4;
  font-weight: 400;
}

/* Base */
body, html {
  font-family: 'Work Sans', sans-serif;
  background: hsl(210, 10%, 18%);
  color: #fff;
  font-weight: 400;
}

/* Footer */
footer {
  margin-bottom: 55px;
}

footer p {
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  line-height: 1.8;
}

footer a {
  transition: border 300ms;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

footer a:hover {
  border-bottom-color: transparent;
}

/* Tables */
table {
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -20px;
}

td {
  padding: 10px 20px;
  border: none;
  outline: none;
}

tr {
  font-size: 12px;
  background: hsl(210, 10%, 23%);
}

tr:hover {
  background: hsl(210, 10%, 32%);
}

tbody tr:last-child {
  border: none;
}

thead tr {
  background: hsl(210, 10%, 28%);
  font-weight: bold;
}

thead tr:hover {
  background: hsl(210, 10%, 28%);
}

table tr td:last-child {
  min-width: 100px;
  text-align: center;
}

table tr td:nth-child(3) .code {
  padding: 2px 4px;
  background: hsl(210, 10%, 18%);
}

.high {
  background: #0CCA4A;
}

.medium {
  background: #08B2E3;
}

.low {
  background: #EE6352;
}

/* Typography */
h2 {
  margin: 45px auto 24px;
  text-align: center;
}

.table-tags tr td:last-child {
  text-align: center;
}

.code {
  font-family: 'Inconsolata', monospace;
}
