@use "../mixins/ui" as *;

.button {
  
  @extend %ui-base;
  @extend %ui-transition;
  
  min-width: 120px;
  cursor: pointer;
  font-weight: 600;

  &--primary {
    background: var(--theme-colour--spotify-green);
    color: var(--theme-colour--spotify-black);
    border-radius: 9999px;
    text-transform: uppercase;
    &:hover {
      transform: scale(1.05);
    }
  }
  
  &--secondary {
    color: #A7A7A7;
    min-width: unset;
    padding: 0;
    min-height: unset;
    &:hover {
      color: #FFFFFF;
    }
  }
  
}